<div class="outer-box">
    <div class="inner-box">
      <h1><i class="fas fa-brackets"></i><b>Recuperar Cuenta</b></h1>
      <form>
        <div class="form-group">
          <p> Ingrese su correo electrónico para enviarle un código de verificación. </p>
          <label for="username">Correo Electronico:</label>
          <div class="icon-box">
            <i class="fa-solid fa-envelope"></i>
            <input type="text" id="correo_electronico" name="correo_electronico" placeholder="Ingresa tu correo electronico">
          </div>
        </div>
        <button type="submit" class="btn btn-danger"><b>Enviar</b></button>
        <button type="submit" class="btn btn-danger"><b>Regresar</b></button>
      </form>
    </div>
    <div class="image-box">
        <img src="../../../Images/Medico2.jpg">
    </div>
</div>
  