<div class="main-container">
    <div class="sub-container">
        <div class="cont">
            <div class="title-container">
                <h2>Tipo de Servicio</h2>
            </div>
            <div class="info-container">
                <input class="form-control" type="text" id="inicio_semana" name="inicio_semana" placeholder="Ingrese el incio de semana">
                <input class="form-control" type="text" id="inicio_semana" name="inicio_semana" placeholder="Ingrese el incio de semana">
                <input class="form-control" type="text" id="inicio_semana" name="inicio_semana" placeholder="Ingrese el incio de semana">
                <div class="button-container">
                    <button type="submit" class="btn btn-danger">Guardar</button>
                </div>
            </div>
        </div>
        <div class="cont">
            <div class="title-container">
                <h2>Servicios</h2>
            </div>
            <div class="info-container">
                <div class="dato"><label>Servicio 1: </label><input type="checkbox"></div>
                <div class="dato"><label>Servicio 2: </label><input type="checkbox"></div>
                <div class="dato"><label>Servicio 3: </label><input type="checkbox"></div>
                <div class="dato"><label>Servicio 4: </label><input type="checkbox"></div>
                <div class="dato"><label>Servicio 5: </label><input type="checkbox"></div>
                <div class="dato"><label>Servicio 6: </label><input type="checkbox"></div>
            </div>
        </div>
    </div>
</div>