<ng-template #ver_paciente let-modal>
	<div class="modal-header">
		<h2>Ver Datos del Paciente</h2>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<ver-paciente></ver-paciente>
	</div>
</ng-template>

<ng-template #editar_paciente let-modal>
	<div class="modal-header">
		<h2>Editar Datos del Paciente</h2>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<editar-paciente></editar-paciente>
	</div>
</ng-template>

<div class="main-container">
  <div class="sub-container">
    <div class="search-container">
      <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" placeholder="Buscar Paciente" />
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" style="border: 0px;" id="dropdownBasic1" ngbDropdownToggle>
          Fecha
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" (dateSelect)="filterPeople()"></ngb-datepicker>
        </div>
      </div>
      
    </div>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Número</th>
            <th>Nombre</th>
            <th>Atención Prev.</th>
            <th>Nº Historia</th>
            <th>Nº de Documento</th>
            <th>  </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of (filteredPeople | async)" [class.selected]="person === selectedPerson" (click)="selectPerson(person)" class="table-row">
            <td>{{ person.numero }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.ultima_atencion }}</td>
            <td>{{ person.numero_historia }}</td>
            <td>{{ person.numero_documento }}</td>
            <td>
              <div class="custom-dropdown" (mouseenter)="toggleDropdown(person.numero_documento)" (mouseleave)="toggleDropdown(person.numero_documento)">
                <i class="fas fa-ellipsis-v"></i>
                <div class="dropdown-content" [class.show]="dropdownStates[person.numero_documento]">
                  <button class="icons" (click)="openModal(ver_paciente)">
                    <i class="fas fa-eye"></i>
                  </button>
                  <button class="icons" (click)="openModal(editar_paciente)">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="icons">
                    <i class="fas fa-user-slash"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="(filteredPeople | async)?.length === 0" class="no-results">
        No existen coincidencias
      </div>
    </div>
  </div>
  <div class="sub-container2">
    <div class="titulo-container">
      <div class="text">
        <h3>{{ selectedPerson?.name }}</h3>
        <h4>Edad: </h4> <p>{{ selectedPerson?.edad }}</p>
        <div class="text2">
          <div class="col1">
            <h4>Peso: </h4> <p>{{ selectedPerson?.peso }}</p>
          </div>
          <div class="col2">
            <h4>Talla: </h4> <p>{{ selectedPerson?.talla }}</p>
          </div>
        </div>
      </div>
      <div class="person-image">
        <img *ngIf="selectedPerson?.ruta_imagen; else noImage" [src]="selectedPerson?.ruta_imagen" alt="Person image" />
        <ng-template #noImage>
          <div class="placeholder-image">Img</div>
        </ng-template>
      </div>
    </div>
    <div class="alertas-container">
      <h3>Alertas:</h3>
      <div class="alergias">
        <h4>Alergias:</h4>
        <div class="alergias-list">
          <div *ngFor="let alergias of selectedPerson?.alergias" class="alergias-item">
            <span><p style="margin-bottom: 0px;">{{ alergias }}</p></span>
          </div>
        </div>
      </div>
      <div class="cronicos">
        <h4>Enfermedades Cronicas:</h4>
        <div class="cronicos-list">
          <div *ngFor="let cronicos of selectedPerson?.enfermedades_cronicas" class="cronicos-item">
            <span><p style="margin-bottom: 0px;">{{ cronicos}}</p></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>