<div class="contenedor">
  <div class="calendario">
    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" (dateSelect)="filtrarActividadesPorFecha()"></ngb-datepicker>
  </div>
  <div class="pendientes">
    <div class="titulo-container">
      <h2 class="titulo">Pendientes</h2>
      <button class="boton-nuevo"><i class="fa fa-plus"></i></button>
    </div>
    <div class="actividades-container">
      <ng-container *ngFor="let actividad of actividadesFiltradas">
        <div class="actividad">
          <h3 class="nombre-actividad">{{actividad.nombre}}</h3>
          <p class="horario">{{actividad.horaInicio}} - {{actividad.horaFin}}</p>
        </div>
      </ng-container>
      <p *ngIf="actividadesFiltradas.length === 0">No existen pendientes</p>
    </div>
  </div>
</div>
