<div class="outer-box">
    <div class="inner-box">
      <h1><i class="fas fa-brackets"></i><b class="titulo">Registrate</b></h1>
      <form>
        <button type="submit" class="btn btn-danger" routerLink="/validar_por_celular"><div class="in-button"><i class="fas fa-phone-square-alt"></i><b>Número de Celular</b></div></button>
        <button type="submit" class="btn btn-danger" routerLink="/validar_por_correo"><div class="in-button"><i class="fas fa-envelope"></i><b>Correo Electronico</b></div></button>
        <div class="form-group">
          <p> Al registrarte, aceptas nuestras políticas de privacidad y <a href="#">términos de servicio</a>. Garantizamos la confidencialidad de tus datos y te proporcionaremos la mejor experiencia posible. Revisa nuestras <a href="#">políticas de privacidad</a> detalladas para obtener más información sobre cómo manejamos tu información personal y aseguramos tu seguridad en nuestra plataforma."</p>
        </div>
        <div class="content">
          <label>¿Ya tienes una Cuenta?</label><label class="label2" routerLink="/login">Iniciar Sesión</label>
        </div>
      </form>
    </div>
    <div class="image-box">
        <img src="../../../assets/Medico4.png" alt="Imagen de Medico">
    </div>
</div>
