<div class="outer-box">
  <div class="inner-box">
    <h1><i class="fas fa-brackets"></i><b class="titulo">Recuperar Cuenta</b></h1>
    <form>
      <div class="form-group">
        <p> Ingrese su correo electrónico para enviarle un código de verificación. </p>
        <div class="icon-box">
          <i class="fas fa-envelope"></i>
          <input type="text" id="correo" name="correo" placeholder="Ingresa tu correo">
        </div>
      </div>
      <button type="submit" class="btn btn-danger" routerLink="/verificar_codigo_correo"><b>Enviar</b></button>
      <button type="submit" class="btn btn-danger" routerLink="/login"><b>Regresar</b></button>
    </form>
  </div>
  <div class="image-box">
      <img src="../../../assets/Medico1.png" alt="Imagen de Medico">
  </div>
</div>
