<ng-template #ver let-modal>
	<div class="modal-header">
		<h2>Ver Hoja de Atención</h2>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<ver-hoja-atencion></ver-hoja-atencion>
	</div>
</ng-template>

<ng-template #editar let-modal class="modal">
	<div class="modal-header">
		<h2>Editar Hoja de Atención</h2>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<editar-hoja-atencion></editar-hoja-atencion>
	</div>
</ng-template>

<div class="main-container">
    <div class="sub-container">
        <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Hora</th>
                  <th>Consultorio</th>
                  <th>Doctor</th>
                  <th>Diagnóstico</th>
                  <th>Tratamiento</th>
                  <th>  </th>
                  <th>  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let atenciones of atenciones">
                  <td>{{ atenciones.fecha}}</td>
                  <td>{{ atenciones.hora }}</td>
                  <td>{{ atenciones.consultorio}}</td>
                  <td>{{ atenciones.doctor }}</td>
                  <td>{{ atenciones.diagnostico }}</td>
                  <td>{{ atenciones.tratamiento }}</td>
                  <td><button type="submit" class="btn btn-danger" (click)="openModal(ver)"><i class="fas fa-eye"></i></button></td>
                  <td><button type="submit" class="btn btn-danger" (click)="openModal(editar)"><i class="fas fa-edit"></i></button></td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>