<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
  <div class="table-responsive shadow-z-1">
    <!-- Table starts here -->
    <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Consultorio</th>
                <th>Doctor</th>
                <th>Diagnostico</th>
                <th>Tratamiento</th>
                <th>    </th>
            </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-title="Fecha">02/03/2024</td>
                        <td data-title="Hora">8:30-9:30 am</td>
                        <td data-title="Consultorio">Cardiologia</td>
                        <td data-title="Doctor">Alex Sanchez Fernandez</td>
                        <td data-title="Diagnostico">Insuficiencia cardiaca</td>
                        <td data-title="Tratamiento">Diuréticos</td>
                        <td> <span class="icon-container" style="margin-right:4px; margin-bottom:4px;"><i class="fas fa-eye"></i></span><span class="icon-container"><i class="fas fa-pen-to-square"></i></span>  </td>
                    </tr>
                    <tr>
                        <td data-title="Fecha">02/03/2024</td>
                        <td data-title="Hora">8:30-9:30 am</td>
                        <td data-title="Consultorio">Cardiologia</td>
                        <td data-title="Doctor">Alex Sanchez Fernandez</td>
                        <td data-title="Diagnostico">Insuficiencia cardiaca</td>
                        <td data-title="Tratamiento">Diuréticos</td>
                        <td> <span class="icon-container" style="margin-right:4px; margin-bottom:4px;"><i class="fas fa-eye"></i></span><span class="icon-container"><i class="fas fa-pen-to-square"></i></span>  </td>
                        </tr>
                        
                    
                    </tbody>
                </table>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

            </body>
</html>