body {
	font-family: 'Poppins', sans-serif;
  }

  /* Estilos para la tabla */
  table {
	width: 100%;
	border-collapse: collapse;
  }

  
  th, td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
  }

  th {
	background-color: #3D82DB;
	color:white
  }

  /* Estilos para los iconos */
  .fa-ellipsis-vertical {
	color: #333;
	cursor: pointer;
  }

  /* Estilos para filas impares */
  tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
  }

  /* Estilos para filas al pasar el mouse */
  tbody tr:hover {
	background-color: #f1f1f1;
  }

.icon-container {
  display: inline-block;
  width: 30px; /* Tamaño del fondo circular */
  height: 30px; /* Tamaño del fondo circular */
  line-height: 30px; /* Centra verticalmente el icono */
  text-align: center; /* Centra horizontalmente el icono */
  background-color: #D9D9D9; /* Color del fondo circular */
  border-radius: 50%; /* Hace que el fondo sea circular */
}

  @media screen and (max-width: 768px) {
    .container-list {
        padding: 0 20px; /* Espaciado en los bordes para pantallas más pequeñas */
    }

    /* Ajustes para la tabla en pantallas más pequeñas */
    th, td {
        padding: 5px;
    }
}