<div class="outer-box">
  <div class="inner-box">
    <h1><i class="fas fa-brackets"></i><b class="titulo">Número de Celular</b></h1>
    <form>
      <div class="form-group">
        <div class="input-group mb-3 phone-input">
          <select class="custom-select rounded-left" id="inputGroupSelect01">
            <option selected>PE +51</option>
            <!-- Aquí puedes agregar más opciones de códigos de país -->
            <option value="1">US +1</option>
            <option value="2">GB +44</option>
          </select>
          <input type="text" class="form-control rounded-right" aria-label="Número de Celular" placeholder="Número de Celular">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3 code-input">
          <input type="text" class="form-control rounded-left" placeholder="Ingresa el código de 6 dígitos" aria-label="Ingresa el código de 6 dígitos">
          <div class="input-group-append">
            <button class="btn btn-outline-danger rounded-right" type="button" routerLink="/completar_registro">Enviar</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <p> Al registrarte, aceptas nuestras políticas de privacidad y <a href="#">términos de servicio</a>. Garantizamos la confidencialidad de tus datos y te proporcionaremos la mejor experiencia posible. Revisa nuestras <a href="#">políticas de privacidad</a> detalladas para obtener más información sobre cómo manejamos tu información personal y aseguramos tu seguridad en nuestra plataforma."</p>
      </div>
      <div class="content">
        <label>¿Ya tienes una Cuenta?</label><label class="label2" routerLink="/login">Iniciar Sesión</label>
      </div>
    </form>
  </div>
  <div class="image-box">
      <img src="../../../assets/Medico6.png" alt="Imagen de Medico">
  </div>
</div>
  