body
    font-family: 'Poppins', sans-serif

.alergias, .enfermedades 
    padding: 5px /* Espaciado interno de los componentes */
    margin-bottom: 20px /* Margen inferior entre los componentes */


.alertas
    color: #3D82DB /* Color de texto */
    font-size: 35px
    font-weight: 600

.container
    width:300px
    height: 480px /* Alto del rectángulo */
    background-color: #EDF5FF /* Color de fondo del rectángulo */
    padding: 20px /* Espaciado interno del rectángulo */
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.2)
    margin: 20px auto /* Margen exterior del rectángulo para centrarlo horizontalmente */
    display: flex /* Usamos flexbox para alinear los componentes */
    flex-direction: column /* Alineamos los componentes en columna */
    justify-content: space-around
    