<div class="title-container">
    <div class="formulario">
        <h2>Registrar Nuevo Paciente</h2>
    </div>
</div>
<div class="main-container">
    <div class="sub-container">
        <div class="formulario">
            <div class="line">
                <div class="dato">
                    <h3>Tipo de Documento</h3>
                    <select class="custom-select rounded-left">
                        <option selected>Seleccionar</option>
                        <option value="1">DNI</option>
                        <option value="2">Carnet de Extrangería</option>
                    </select>
                </div>
                <div class="dato">
                    <h3>Número de Documento</h3>
                    <div class="icon-box">
                        <i class="fas fa-id-card"></i>
                        <input type="text" id="numero_documento" name="numero_documento" placeholder="Ingrese el numero de Documento">
                    </div>
                </div>
            </div>
            
            <div class="line">
                <div class="dato">
                    <h3>Primer Nombre</h3>
                    <div class="icon-box">
                        <i class="fas fa-user"></i>
                        <input type="text" id="primer_nombre" name="primer_nombre" placeholder="Ingrese el primer nombre">
                    </div>
                </div>
                <div class="dato">
                    <h3>Segundo Nombre</h3>
                    <div class="icon-box">
                        <i class="fas fa-user"></i>
                        <input type="text" id="segundo_nombre" name="segundo_nombre" placeholder="Ingrese el segundo nombre">
                    </div>
                </div>
            </div>

            <div class="line">
                <div class="dato">
                    <h3>Primer Apellido</h3>
                    <div class="icon-box">
                        
                        <input type="text" id="primer_apellido" name="primer_apellido" placeholder="Ingrese el primer apellido">
                    </div>
                </div>
                <div class="dato">
                    <h3>Segundo Apellido</h3>
                    <div class="icon-box">
                        
                        <input type="text" id="segundo_apellido" name="segundo_apellido" placeholder="Ingrese el segundo apellido">
                    </div>
                </div>
            </div>

            <div class="line">
                <div class="dato">
                    <h3>Fecha de Nacimiento</h3>
                    <div class="icon-box">
                        <input type="date" id="fecha" name="fecha" placeholder="Ingrese su fecha de naciemiento">
                    </div>
                </div>
                <div class="dato">
                    <h3>Correo Electrónico</h3>
                    <div class="icon-box">
                        <i class="fas fa-envelope"></i>
                        <input type="text" id="correo_electronico" name="correo_electronico" placeholder="Ingrese su correo electrónico">
                    </div>
                </div>
            </div>

            <div class="line">
                <div class="dato">
                    <h3>Número de Celular</h3>
                    <div class="icon-box">
                        <i class="fas fa-tablet" style="transform: scale(0.8, 1);"></i>
                        <input type="text" id="numero_celular" name="numero_celular" placeholder="Ingrese su número de celular">
                    </div>
                </div>
                <div class="dato">
                    <h3>Teléfono</h3>
                    <div class="icon-box">
                        <i class="fas fa-phone"></i>
                        <input type="text" id="telefono" name="telefono" placeholder="Ingrese su teléfono">
                    </div>
                </div>
            </div>

            <div class="line">
                <div class="dato">
                    <h3>País</h3>
                    <div class="icon-box">
                        <input type="text" id="pais" name="pais" placeholder="Ingrese el país">
                    </div>
                </div>
                <div class="dato">
                    <h3>Departamento</h3>
                    <div class="icon-box">
                        <input type="text" id="departamento" name="departamento" placeholder="Ingrese el departamento">
                    </div>
                </div>
                <div class="dato">
                    <h3>Provincia</h3>
                    <div class="icon-box">
                        <input type="text" id="provincia" name="provincia" placeholder="Ingrese la provincia">
                    </div>
                </div>
            </div>

            <div class="line">
                <div class="dato">
                    <h3>Foto</h3>
                    <div class="image-box">
                        <img src="../../../../assets/User-img.png">
                    </div>
                    <div class="button-container" style="justify-content: left;">
                        <button type="submit" class="btn btn-danger" routerLink="/completar_datos"><b>Subir</b></button>
                        <button type="submit" class="btn btn-danger" routerLink="/completar_datos"><b>Borrar</b></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-container2">
        <div class="formulario">
            <div class="dato-check">
                <h4>Sexo:</h4>
                <div class="line">
                    <div class="icon-box">
                        <label>Masculino</label>
                        <input type="checkbox" id="masculino" name="masculino">
                    </div>
                    <div class="icon-box">
                        <label>Femenino</label>
                        <input type="checkbox" id="femenino" name="femenino">
                    </div>
                </div>
            </div>
            <div class="dato-check">
                <h4>Es donador:</h4>
                <div class="line">
                    <div class="icon-box">
                        <label>Si</label>
                        <input type="checkbox" id="donador-s" name="donador-s">
                    </div>
                    <div class="icon-box">
                        <label>No</label>
                        <input type="checkbox" id="donador-n" name="donador-n">
                    </div>
                </div>
            </div>
            <div class="dato-check">
                <h4>Es casado:</h4>
                <div class="line">
                    <div class="icon-box">
                        <label>Si</label>
                        <input type="checkbox" id="casado-s" name="casado-s">
                    </div>
                    <div class="icon-box">
                        <label>No</label>
                        <input type="checkbox" id="casado-n" name="casado-n">
                    </div>
                </div>
            </div>
            <div class="dato-check">
                <h4>Es trabajador:</h4>
                <div class="line">
                    <div class="icon-box">
                        <label>Si</label>
                        <input type="checkbox" id="trabajador-s" name="trabajador-s">
                    </div>
                    <div class="icon-box">
                        <label>No</label>
                        <input type="checkbox" id="trabajador-n" name="trabajador-n">
                    </div>
                </div>
            </div>
        </div>
        <div class="formulario">
            <div class="line">
                <div class="dato" style="width: 100%;">
                    <h3>Numero de hijos</h3>
                    <div class="icon-box">
                        <input type="text" id="usuario" name="usuario" placeholder="Ingrese el numero de hijos">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="dato" style="width: 100%;">
                    <h3>Peso</h3>
                    <div class="icon-box">
                        <input type="text" id="usuario" name="usuario" placeholder="Ingrese su peso">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="dato" style="width: 100%;">
                    <h3>Talla</h3>
                    <div class="icon-box">
                        <input type="text" id="usuario" name="usuario" placeholder="Ingrese su talla">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="dato" style="width: 100%;">
                    <h3>Religión</h3>
                    <div class="icon-box">
                        <input type="text" id="usuario" name="usuario" placeholder="Ingrese la religión">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="dato" style="width: 100%;">
                    <h3>Lengua Materna</h3>
                    <div class="icon-box">
                        <input type="text" id="usuario" name="usuario" placeholder="Ingrese la lengua materna">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-container">
        <div class="formulario">
            <div class="line">
                <div class="dato">
                    <h3>Lugar de procedencia</h3>
                    <div class="icon-box">
                        <input type="text" id="usuario" name="usuario" placeholder="Ingrese el lugar de procedencia">
                    </div>
                </div>
                <div class="dato">
                    <h3>Dirección</h3>
                    <div class="icon-box">
                        <input type="text" id="usuario" name="usuario" placeholder="Ingrese la dirección">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="dato">
                    <h3>Color de piel</h3>
                    <div class="icon-box">
                        <input type="text" id="usuario" name="usuario" placeholder="Ingrese color de piel">
                    </div>
                </div>
                <div class="dato">
                    <h3>Raza</h3>
                    <div class="icon-box">
                        <input type="text" id="usuario" name="usuario" placeholder="Ingrese la raza">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="dato">
                    <h3>Grupo Sanguineo</h3>
                    <div class="icon-box">
                        <input type="text" id="usuario" name="usuario" placeholder="Ingrese el grupo sanguineo">
                    </div>
                </div>
                <div class="dato">
                    <h3>Nivel de Estudio</h3>
                    <div class="icon-box">
                        <input type="text" id="usuario" name="usuario" placeholder="Ingrese el nivel de estudio">
                    </div>
                </div>
            </div>
        </div>

        <div class="antecedentes-container" style="display: flex;">
    
            <div class="sub-container" style="width: 50%;">
                <div class="formulario">
                    <div class="line">
                        <div class="dato" style="width: 100%;">
                            <h3>Hábitos</h3>
                            <div class="icon-box">
                                <input type="text" id="usuario" name="usuario">
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="dato" style="width: 100%;">
                            <div class="icon-box">
                                <input type="text" id="usuario" name="usuario">
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn btn-danger"><i class="fa fa-plus-circle" style="font-size: 20px;"></i></button>
                    </div>
                </div>
                <div class="formulario">
                    <div class="line">
                        <div class="dato" style="width: 100%;">
                            <h3>Ant. Familiares</h3>
                            <div class="icon-box">
                                <input type="text" id="usuario" name="usuario">
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="dato" style="width: 100%;">
                            <div class="icon-box">
                                <input type="text" id="usuario" name="usuario">
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn btn-danger"><i class="fa fa-plus-circle" style="font-size: 20px;"></i></button>
                    </div>
                </div>
            </div>
        
            <div class="sub-container" style="width: 50%;">
                <div class="formulario">
                    <div class="line">
                        <div class="dato" style="width: 100%;">
                            <h3>Antecedentes</h3>
                            <div class="icon-box">
                                <input type="text" id="usuario" name="usuario">
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="dato" style="width: 100%;">
                            <div class="icon-box">
                                <input type="text" id="usuario" name="usuario">
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn btn-danger"><i class="fa fa-plus-circle" style="font-size: 20px;"></i></button>
                    </div>
                </div>
                <div class="formulario">
                    <div class="line">
                        <div class="dato" style="width: 100%;">
                            <h3>Ant. Epidemiológicos</h3>
                            <div class="icon-box">
                                <input type="text" id="usuario" name="usuario">
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="dato" style="width: 100%;">
                            <div class="icon-box">
                                <input type="text" id="usuario" name="usuario">
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn btn-danger"><i class="fa fa-plus-circle" style="font-size: 20px;"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button type="submit" class="btn btn-danger"><b>Guardar</b></button>
        </div>
    </div>
</div>