  <div class="outer-box">
    <div class="container">
      <div class="inner-box">
        <h1><i class="fas fa-brackets"></i><b class="titulo">Datos de Ubicación</b></h1>
        <form>
          <div class="form-group">
            <label>Pais:</label>
            <div class="input-group mb-3 phone-input">
              <select class="custom-select rounded-left" id="inputGroupSelect01">
                <option selected>PE +51</option>
                <option value="1">US +1</option>
                <option value="2">GB +44</option>
              </select>
            </div>
            <label>Provincia o Región:</label>
            <div class="input-group mb-3 phone-input">
              <select class="custom-select rounded-left" id="inputGroupSelect01">
                <option selected>PE +51</option>
                <option value="1">US +1</option>
                <option value="2">GB +44</option>
              </select>
            </div>
            <label>Ciudad o Área local:</label>
            <div class="input-group mb-3 phone-input">
              <select class="custom-select rounded-left" id="inputGroupSelect01">
                <option selected>PE +51</option>
                <option value="1">US +1</option>
                <option value="2">GB +44</option>
              </select>
            </div>
            <label>Distrito o Sub área:</label>
            <div class="input-group mb-3 phone-input">
              <select class="custom-select rounded-left" id="inputGroupSelect01">
                <option selected>PE +51</option>
                <option value="1">US +1</option>
                <option value="2">GB +44</option>
              </select>
            </div>
          </div>
        </form>
      </div>

      <div class="inner-box">
        <h1><i class="fas fa-brackets"></i><b class="titulo">Datos del Consultorio Privado</b></h1>
        <form>
          <div class="form-group">
            <label>Nombre del Consultorio:</label>
            <div class="input-group mb-3 code-input">
              <input type="text" class="form-control rounded-left" placeholder="Ingresa el código de 6 dígitos" aria-label="Ingresa Nombre del Consultorio">
            </div>
            <label>Dirección:</label>
            <div class="input-group mb-3 code-input">
              <input type="text" class="form-control rounded-left" placeholder="Ingresa el código de 6 dígitos" aria-label="Ingresa la Dirección">
            </div>
            <label>Número de Teléfono:</label>
            <div class="input-group mb-3 code-input">
              <input type="text" class="form-control rounded-left" placeholder="Ingresa el código de 6 dígitos" aria-label="Ingresa el Número de Teléfono">
            </div>
            <label>Información adicional:</label>
            <div class="input-group mb-3 code-input">
              <input type="text" class="form-control rounded-left" placeholder="Ingresa el código de 6 dígitos" aria-label="Información adicional">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="container2">
      <button type="submit" class="btn btn-danger"><b>Enviar</b></button>
    </div>
  </div>
  