<div class="main-container">
  <div class="sub-container">
    <div class="search-container">
      <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" placeholder="Buscar Paciente" />
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
          Fecha
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" (dateSelect)="filterPeople()"></ngb-datepicker>
        </div>
      </div>
      
    </div>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Número</th>
            <th>Nombre</th>
            <th>Última Atención</th>
            <th>Número de Historia</th>
            <th>Número de Documento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of (filteredPeople | async)" [class.selected]="person === selectedPerson" (click)="selectPerson(person)" class="table-row">
            <td>{{ person.numero }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.ultima_atencion }}</td>
            <td>{{ person.numero_historia }}</td>
            <td>{{ person.numero_documento }}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="(filteredPeople | async)?.length === 0" class="no-results">
        No existen coincidencias
      </div>
    </div>
  </div>
</div>