<div class="main-container">
    <div class="sub-container">
        <div class="descripcion-container">
            <div class="title-container">
                <h1>Nombre</h1>
            </div>
            <div class="info-container">
                <div class="image-box">
                    <img src="../../../../../assets/Medico7.png">
                </div>
                <div class="text-container">
                    <textarea placeholder="Ingresar"></textarea>
                </div>
            </div>
        </div>
        <div class="antecedentes-container">
            <div class="antecedente">
                <h3>Habitos</h3>
                <div class="text-container">
                    <textarea placeholder="Ingresar"></textarea>
                </div>
            </div>
            <div class="antecedente">
                <h3>Antecedentes</h3>
                <div class="text-container">
                    <textarea placeholder="Ingresar"></textarea>
                </div>
            </div>
            <div class="antecedente">
                <h3>A. Familiares</h3>
                <div class="text-container">
                    <textarea placeholder="Ingresar"></textarea>
                </div>
            </div>
            <div class="antecedente">
                <h3>A. Epidemiológicos</h3>
                <div class="text-container">
                    <textarea placeholder="Ingresar"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="alertas-container">
        <h2>Alertas:</h2>
        <h3>Alergias:</h3>
        <div class="alergias">
            <h4>Titulo</h4>
            <p>Descripcion</p>
        </div>
        <h3>Enfermedades Crónicas:</h3>
        <div class="cronicos">
            <h4>Titulo</h4>
            <p>Descripcion</p>
        </div>
    </div>
</div>