<div class="main-container">
    <div class="sub-container">
        <div class="formulario">
            <div class="line">
                <div class="dato">
                    <h3>Tipo de Documento</h3>
                    <select class="custom-select rounded-left" [(ngModel)]="paciente.tipo_documento" disabled>
                        <option [value]="'DNI'">DNI</option>
                        <option [value]="'Carnet de Extrangería'">Carnet de Extrangería</option>
                    </select>
                </div>
                <div class="dato">
                    <h3>Número de Documento</h3>
                    <div class="icon-box">
                        <i class="fas fa-id-card"></i>
                        <input type="text" [(ngModel)]="paciente.numero_documento" placeholder="Ingrese el numero de Documento" disabled>
                    </div>
                </div>
            </div>
            
            <div class="line">
                <div class="dato">
                    <h3>Primer Nombre</h3>
                    <div class="icon-box">
                        <i class="fas fa-user"></i>
                        <input type="text" [(ngModel)]="paciente.primer_nombre" placeholder="Ingrese el primer nombre" disabled>
                    </div>
                </div>
                <div class="dato">
                    <h3>Segundo Nombre</h3>
                    <div class="icon-box">
                        <i class="fas fa-user"></i>
                        <input type="text" [(ngModel)]="paciente.segundo_nombre" placeholder="Ingrese el segundo nombre" disabled>
                    </div>
                </div>
            </div>

            <div class="line">
                <div class="dato">
                    <h3>Primer Apellido</h3>
                    <div class="icon-box">
                        
                        <input type="text" [(ngModel)]="paciente.primer_apellido" placeholder="Ingrese el primer apellido" disabled>
                    </div>
                </div>
                <div class="dato">
                    <h3>Segundo Apellido</h3>
                    <div class="icon-box">
                        
                        <input type="text" [(ngModel)]="paciente.segundo_apellido" placeholder="Ingrese el segundo apellido" disabled>
                    </div>
                </div>
            </div>

            <div class="line">
                <div class="dato">
                    <h3>Fecha de Nacimiento</h3>
                    <div class="icon-box">
                        <input type="date" [(ngModel)]="paciente.fecha_nacimiento" placeholder="Ingrese su fecha de naciemiento" disabled>
                    </div>
                </div>
                <div class="dato">
                    <h3>Correo Electrónico</h3>
                    <div class="icon-box">
                        <i class="fas fa-envelope"></i>
                        <input type="text" [(ngModel)]="paciente.correo_electronico" placeholder="Ingrese su correo electrónico" disabled>
                    </div>
                </div>
            </div>

            <div class="line">
                <div class="dato">
                    <h3>Número de Celular</h3>
                    <div class="icon-box">
                        <i class="fas fa-tablet" style="transform: scale(0.8, 1);"></i>
                        <input type="text" [(ngModel)]="paciente.numero_celular" placeholder="Ingrese su número de celular" disabled>
                    </div>
                </div>
                <div class="dato">
                    <h3>Teléfono</h3>
                    <div class="icon-box">
                        <i class="fas fa-phone"></i>
                        <input type="text" [(ngModel)]="paciente.telefono" placeholder="Ingrese su teléfono" disabled>
                    </div>
                </div>
            </div>

            <div class="line">
                <div class="dato">
                    <h3>País</h3>
                    <div class="icon-box">
                        <input type="text" [(ngModel)]="paciente.pais" placeholder="Ingrese el país" disabled>
                    </div>
                </div>
                <div class="dato">
                    <h3>Departamento</h3>
                    <div class="icon-box">
                        <input type="text" [(ngModel)]="paciente.departamento" placeholder="Ingrese el departamento" disabled>
                    </div>
                </div>
                <div class="dato">
                    <h3>Provincia</h3>
                    <div class="icon-box">
                        <input type="text" [(ngModel)]="paciente.provincia" placeholder="Ingrese la provincia" disabled>
                    </div>
                </div>
            </div>

            <div class="line">
                <div class="dato">
                    <h3>Foto</h3>
                    <div class="image-box">
                        <img src={{paciente.imagen}}>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-container2">
        <div class="formulario">
            <div class="dato-check">
                <h4>Sexo:</h4>
                <div class="line">
                    <div class="icon-box">
                        <label>Masculino</label>
                        <input type="checkbox" [(ngModel)]="esMasculino" disabled>
                    </div>
                    <div class="icon-box">
                        <label>Femenino</label>
                        <input type="checkbox" [(ngModel)]="esFemenino" disabled>
                    </div>
                </div>
            </div>
            <div class="dato-check">
                <h4>Es donador:</h4>
                <div class="line">
                    <div class="icon-box">
                        <label>Si</label>
                        <input type="checkbox" [(ngModel)]="esDonadorP" disabled>
                    </div>
                    <div class="icon-box">
                        <label>No</label>
                        <input type="checkbox" [(ngModel)]="esDonadorN" disabled>
                    </div>
                </div>
            </div>
            <div class="dato-check">
                <h4>Es casado:</h4>
                <div class="line">
                    <div class="icon-box">
                        <label>Si</label>
                        <input type="checkbox" [(ngModel)]="esCasadoP" disabled>
                    </div>
                    <div class="icon-box">
                        <label>No</label>
                        <input type="checkbox" [(ngModel)]="esCasadoN" disabled>
                    </div>
                </div>
            </div>
            <div class="dato-check">
                <h4>Es trabajador:</h4>
                <div class="line">
                    <div class="icon-box">
                        <label>Si</label>
                        <input type="checkbox" [(ngModel)]="esTrabajadorP" disabled>
                    </div>
                    <div class="icon-box">
                        <label>No</label>
                        <input type="checkbox" [(ngModel)]="esTrabajadorN" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="formulario">
            <div class="line">
                <div class="dato" style="width: 100%;">
                    <h3>Numero de hijos</h3>
                    <div class="icon-box">
                        <input type="text" [(ngModel)]="paciente.numero_hijos" placeholder="Ingrese el numero de hijos" disabled>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="dato" style="width: 100%;">
                    <h3>Peso</h3>
                    <div class="icon-box">
                        <input type="text" [(ngModel)]="paciente.peso" placeholder="Ingrese su peso" disabled>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="dato" style="width: 100%;">
                    <h3>Talla</h3>
                    <div class="icon-box">
                        <input type="text" [(ngModel)]="paciente.talla" placeholder="Ingrese su talla" disabled>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="dato" style="width: 100%;">
                    <h3>Religión</h3>
                    <div class="icon-box">
                        <input type="text" [(ngModel)]="paciente.religion" placeholder="Ingrese la religión" disabled>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="dato" style="width: 100%;">
                    <h3>Lengua Materna</h3>
                    <div class="icon-box">
                        <input type="text" [(ngModel)]="paciente.lengua_materna" placeholder="Ingrese la lengua materna" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-container">
        <div class="formulario">
            <div class="line">
                <div class="dato">
                    <h3>Lugar de procedencia</h3>
                    <div class="icon-box">
                        <input type="text" [(ngModel)]="paciente.lugar_procedencia" placeholder="Ingrese el lugar de procedencia" disabled>
                    </div>
                </div>
                <div class="dato">
                    <h3>Dirección</h3>
                    <div class="icon-box">
                        <input type="text" [(ngModel)]="paciente.direccion" placeholder="Ingrese la dirección" disabled>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="dato">
                    <h3>Color de piel</h3>
                    <div class="icon-box">
                        <input type="text" [(ngModel)]="paciente.color_piel" placeholder="Ingrese color de piel" disabled>
                    </div>
                </div>
                <div class="dato">
                    <h3>Raza</h3>
                    <div class="icon-box">
                        <input type="text" [(ngModel)]="paciente.raza" placeholder="Ingrese la raza" disabled>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="dato">
                    <h3>Grupo Sanguineo</h3>
                    <div class="icon-box">
                        <input type="text" [(ngModel)]="paciente.grupo_sanguineo" placeholder="Ingrese el grupo sanguineo" disabled>
                    </div>
                </div>
                <div class="dato">
                    <h3>Nivel de Estudio</h3>
                    <div class="icon-box">
                        <input type="text" [(ngModel)]="paciente.nivel_estudio" placeholder="Ingrese el nivel de estudio" disabled>
                    </div>
                </div>
            </div>
        </div>

        <div class="antecedentes-container" style="display: flex;">
    
            <div class="sub-container" style="width: 50%;">
                <div class="formulario">
                    <div class="line">
                        <div class="dato" style="width: 100%;">
                            <h3>Habitos: </h3>
                        </div>
                    </div>
                    <div class="line" *ngFor="let habito of paciente.habitos">
                        <div class="dato" style="width: 100%;">
                            <div class="icon-box">
                                <input type="text" [value]="habito" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario">
                    <div class="line">
                        <div class="dato" style="width: 100%;">
                            <h3>Ant. Familiares</h3>
                        </div>
                    </div>
                    <div class="line" *ngFor="let antfamiliares of paciente.antecedentes_familiares">
                        <div class="dato" style="width: 100%;">
                            <div class="icon-box">
                                <input type="text" [value]="antfamiliares" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="sub-container" style="width: 50%;">
                <div class="formulario">
                    <div class="line">
                        <div class="dato" style="width: 100%;">
                            <h3>Antecedentes</h3>
                        </div>
                    </div>
                    <div class="line" *ngFor="let antecedente of paciente.antecedentes">
                        <div class="dato" style="width: 100%;">
                            <div class="icon-box">
                                <input type="text" [value]="antecedente" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario">
                    <div class="line">
                        <div class="dato" style="width: 100%;">
                            <h3>Ant. Epidemiológicos</h3>
                        </div>
                    </div>
                    <div class="line" *ngFor="let antepidemiologico of paciente.antecedentes_epidemiologicos">
                        <div class="dato" style="width: 100%;">
                            <div class="icon-box">
                                <input type="text" [value]="antepidemiologico" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>