<div class="main-container">
    <div class="container1">
        <div class="contend1">
            <div class="text-container">
                <div class="icon-box">
                    <i class="fas fa-microscope"></i>
                    <h2>Patología</h2>
                </div>
            </div>
        </div>
        <div class="contend2">
            <div class="text-container">
                <label>Fecha:</label>
                <p class="fecha">{{ uploadDate ? (uploadDate | date:'dd/MM/yyyy HH:mm') : '--' }}</p>
            </div>
            <div class="text-container">
                <label>Estado:</label>
                <div class="icon-box">
                    <i class="fas fa-file-pdf" style="font-size: var(--size-s); margin-right: 5px;"></i>
                    <p (click)="fileToUpload ? openPdf() : null" [style.cursor]="fileToUpload ? 'pointer' : 'default'"> {{ truncateFileName(fileName) }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container2">
        <input type="file" #fileInput (change)="handleFileInput(fileInput.files)" style="display: none;">
        <button type="button" class="btn btn-danger" (click)="fileInput.click()"><i class="fas fa-upload" style="font-size: var(--size-xs);"></i></button>
        <button type="button" class="btn btn-danger" (click)="removeFile()"><i class="fas fa-ban" style="font-size: var(--size-xs);"></i></button>
    </div>
</div>
