<div class="main-container">
    <div class="container1">
        <div class="contend1">
            <div class="text-container">
                <div class="icon-box">
                    <i class="fas fa-microscope"></i>
                    <h2>Patologia</h2>
                </div>
            </div>
        </div>
        <div class="contend2">
            <div class="text-container">
                <p>Fecha:</p>
                <p class="fecha">02/02/2024 18:30</p>
            </div>
            <div class="text-container">
                <p>Estado:</p>
                <div class="icon-box">
                    <i class="fas fa-file-pdf" style="font-size: var(--size-s); margin-right: 5px;"></i>
                    <p>  Document.pdf</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container2">
        <button type="button" class="btn btn-danger"><i class="fas fa-upload" style="font-size: var(--size-xs);"></i></button>
        <button type="button" class="btn btn-danger"><i class="fas fa-ban" style="font-size: var(--size-xs);"></i></button>
    </div>
</div>