body {
	font-family: 'Poppins', sans-serif;
  }

  /* Estilos para la tabla */
  table {
	width: 100%;
	border-collapse: collapse;
  }

  
  th, td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
  }

  th {
	background-color: #3D82DB;
	color:white
  }

  /* Estilos para los iconos */
  .fa-ellipsis-vertical {
	color: #333;
	cursor: pointer;
  }

  /* Estilos para filas impares */
  tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
  }

  /* Estilos para filas al pasar el mouse */
  tbody tr:hover {
	background-color: #f1f1f1;
  }