<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="table-responsive-vertical shadow-z-1">
    <!-- Table starts here -->
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th>N°</th>
            <th>Paciente</th>
            <th>Ultima Atención</th>
            <th>Nro His<!DOCTYPE html>
              <html lang="en">
              <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Document</title>
              </head>
              <body>
                <div class="table-responsive-vertical shadow-z-1">
                  <!-- Table starts here -->
                  <table id="table" class="table table-hover table-mc-light-blue">
                      <thead>
                        <tr>
                          <th>N°</th>
                          <th>Paciente</th>
                          <th>Ultima Atención</th>
                          <th>Nro Historia</th>
                          <th>Nro Documento</th>
                          <th>     </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td data-title="N°">00001</td>
                          <td data-title="Paciente">Benitez Astorga Paola</td>
                          <td data-title="Ultima Atención">02/02/2024</td>
                          <td data-title="Nro Historia">HC25698471</td>
                          <td data-title="Nro Documento">75698471</td>
                          <td> <i class="fas fa-ellipsis-vertical"></i></td>
                        </tr>
                        <tr>
                          <td data-title="N°">00002</td>
                          <td data-title="Paciente">Benitez Astorga Paola</td>
                          <td data-title="Ultima Atención">02/02/2024</td>
                          <td data-title="Nro Historia">HC25698471</td>
                          <td data-title="Nro Documento">75698471</td>
                          <td> <i class="fas fa-ellipsis-vertical"></i></td>
              
                        </tr>
                          
                        
                      </tbody>
                    </table>
                  </div>
              </body>
              </html>toria</th>
            <th>Nro Documento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="N°">00001</td>
            <td data-title="Paciente">Benitez Astorga Paola</td>
            <td data-title="Ultima Atención">02/02/2024</td>
            <td data-title="Nro Historia">HC25698471</td>
            <td data-title="Nro Documento">75698471</td>
          </tr>
          <tr>
            <td data-title="N°">00002</td>
            <td data-title="Paciente">Benitez Astorga Paola</td>
            <td data-title="Ultima Atención">02/02/2024</td>
            <td data-title="Nro Historia">HC25698471</td>
            <td data-title="Nro Documento">75698471</td>
          </tr>
            
          
        </tbody>
      </table>
    </div>
</body>
</html>