<div class="main-container">
    <div class="sub-container1">
        <div class="alerta-container" *ngIf="estado_caja; else caja">
            <caja-abierta></caja-abierta>
        </div>
        <ng-template #caja>
            <div class="alerta-container">
                <caja-cerrada></caja-cerrada>
            </div>
        </ng-template>
        <div class="tablas-container">
            <tablas (activeChange)="onActiveChange($event)"></tablas>
        </div>
    </div>
    <div class="sub-container2">
        <div class="registro-container" *ngIf="ingreso_egreso; else egreso">
            <ingreso></ingreso>
        </div>
        <ng-template #egreso>
            <div class="registro-container">
                <egreso></egreso>
            </div>
        </ng-template>
    </div>
</div>