<div class="main-container">
    <div class="cont1">
        <h1>Clinica Code</h1>
        <div class="image-box">
            <img src="../../../../assets/Medico4.png" alt="Imagen de Medico">
        </div>
    </div>
    <div class="cont2">
        <div class="formulario">
            <div class="campo">
                <div class="title">
                    <label>Id_Consultorio:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="id_consultorio" name="id_consultorio" placeholder="Ingrese el Id del Consultorio">
                </div>
            </div>

            <div class="campo">
                <div class="title">
                    <label>Nombre Consultorio:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="nombre consultorio" name="nombre_consultorio" placeholder="Ingrese el nombre de Consultorio">
                </div>
            </div>

            <div class="campo">
                <div class="title">
                    <label>Representante legal:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="representante_legal" name="representante_legal" placeholder="Ingrese el representante legal">
                </div>
            </div>

            <div class="campo">
                <div class="title">
                    <label>RUC:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="RUC" name="RUC" placeholder="Ingrese el RUC">
                </div>
            </div>
            <div class="campo">
                <div class="title">
                    <label>Capacidad:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="capacidad" name="capacidad" placeholder="Ingrese la Capacidad">
                </div>
            </div>
            <div class="campo">
                <div class="title">
                    <label>Razon Social:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="razon_social" name="razon_social" placeholder="Ingrese la razón social">
                </div>
            </div>
            <div class="campo">
                <div class="title">
                    <label>Fecha de Creacion:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="date" id="fecha_creacion" name="fecha_creacion" placeholder="Ingrese la fecha de creación">
                </div>
            </div>
            <div class="campo">
                <div class="title">
                    <label>Fecha de Modificacion:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="date" id="fecha_modificacion" name="fecha_modificacion" placeholder="Ingrese la fecha de modificación">
                </div>
            </div>
            <hr>
            <div class="campo">
                <div class="title">
                    <label>Nombre de Moneda:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="nombre_moneda" name="nombre_moneda" placeholder="Ingrese el nombre de la moneda">
                </div>
            </div>
            <div class="campo">
                <div class="title">
                    <label>Código:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="codigo" name="codigo" placeholder="Ingrese el código">
                </div>
            </div>
            <div class="campo">
                <div class="title">
                    <label>Símbolo:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="simbolo" name="simbolo" placeholder="Ingrese el símbolo">
                </div>
            </div>
            <hr>
            <div class="campo">
                <div class="title">
                    <label>Nímero de Decimales:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="numero_decimales" name="numero_decimales" placeholder="Ingrese el número de decimales">
                </div>
            </div>
            <div class="campo">
                <div class="title">
                    <label>Inicio de Semana:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="inicio_semana" name="inicio_semana" placeholder="Ingrese el incio de semana">
                </div>
            </div>
            <div class="campo">
                <div class="title">
                    <label>Impuestos Aplicados:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="impuestos_aplicados" name="impuestos_aplicados" placeholder="Ingrese los impuestos aplicados">
                </div>
            </div>
        </div>
    </div>
</div>