/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap'

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')


* 
  font-family: 'Poppins', sans-serif

:root 
  --color-primario:  #3D82DB
  --color-secundario: #F8546C
  --selected-color: #DDEBFC

  // Tamaño de Iconos
  --size-xg: 45px
  --size-g: 23px
  --size-m: 15px
  --size-s: 15px
  --size-xs: 13px

h1 
  font-size: 32px


h2 
  font-size: 24px


h3 
  font-size: 18px

h4
  font-size: 16px


label 
  font-size: 14px

p 
  font-size: 12px


  




