<div class="outer-box">
  <div class="inner-box">
    <h1><i class="fas fa-brackets"></i><b class="titulo">Termina de Registrarte</b></h1>
    <form>
      <div class="form-group">
        <div class="icon-box">
          <i class="fas fa-user"></i>
          <input type="text" class="ingreso-texto" id="usuario" name="usuario" placeholder="Ingresa tu Usuario">
        </div>
        <div class="icon-box">
          <i class="fas fa-lock"></i>
          <input type="password" class="ingreso-texto" id="contraseña" name="contraseña" placeholder="Contraseña">
        </div>
        <div class="icon-box">
          <i class="fas fa-redo"></i>
          <input type="password" class="ingreso-texto" id="contraseña" name="contraseña" placeholder="Confirmar Contraseña">
        </div>
      </div>
      <button type="submit" class="btn btn-danger" routerLink="/completar_datos"><b>Siguiente</b></button>
      <div class="form-group">
        <p> Al registrarte, aceptas nuestras políticas de privacidad y <a href="#">términos de servicio</a>. Garantizamos la confidencialidad de tus datos y te proporcionaremos la mejor experiencia posible. Revisa nuestras <a href="#">políticas de privacidad</a> detalladas para obtener más información sobre cómo manejamos tu información personal y aseguramos tu seguridad en nuestra plataforma."</p>
      </div>
      <div class="content">
        <label>¿Ya tienes una Cuenta?</label><label class="label2" routerLink="/login">Iniciar Sesión</label>
      </div>
    </form>
  </div>
  <div class="image-box">
      <img src="../../../assets/Medico7.png" alt="Imagen de Medico">
  </div>
</div>
  