<div class="main-container">
    <h2>HOJA DE ATENCION MÉDICA</h2>
    <div class="line">
        <div class="dato">
            <label>Motivo de la Consulta:</label>
            <textarea placeholder="Ingrese el motivo de la consulta"></textarea>
        </div>
    </div>
    <div class="line">
        <div class="division">
            <div class="dato">
                <label>Tiempo de Enfermedad:</label>
                <textarea placeholder="Ingrese el tiempo de la enfermedad"></textarea>
            </div>
        </div>
        <div class="division">
            <div class="dato">
                <label>Forma de Inicio:</label>
                <textarea placeholder="Ingrese la forma de inicio"></textarea>
            </div>
        </div>
        <div class="division">
            <div class="dato">
                <label>Curso de la Enfermedad:</label>
                <textarea placeholder="Ingrese el curso de la enfermedad"></textarea>
            </div>
        </div>
    </div>
    <div class="line">
        <div class="dato">
            <label>Relato Cronológico de la Enfermedad:</label>
            <textarea placeholder="Ingrese el relato cronológico de la enfermedad"></textarea>
        </div>
    </div>
    <hr>
    <div class="line">
        <h4>Exámen Físico</h4>
    </div>
    <div class="line2">
        <div class="dato2">
            <label>Frec. Cardiaca</label>
            <input type="text">
            <label class="label2">L.p.m.</label>
        </div>
        <div class="dato2">
            <label>P. Arterial</label>
            <input type="text">
            <label class="label2">/</label>
            <input type="text">
            <label class="label2">mmHg.</label>
        </div>
        <div class="dato2">
            <label>Frec. Respiratoria</label>
            <input type="text">
            <label class="label2">R.p.m.</label>
        </div>
        <div class="dato2">
            <label>Temperatura</label>
            <input type="text">
            <label class="label2">Cº</label>
        </div>
        <div class="dato2">
            <label>SO2</label>
            <input type="text">
            <label class="label2">%</label>
        </div>
    </div>
    <textarea placeholder="Ingrese observación" style="width: 100%;"></textarea>
    <hr>
    <div class="line">
        <h4>Impresión Diagnóstica</h4>
    </div>
    <div class="line">
        <div class="diagnostico-container">
            <div class="diagnostico">
                <div class="text">
                    <label>1. </label>
                    <textarea class="textarea2"></textarea>
                </div>
                <div class="cie10">
                    <p>código</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="line">
        <div class="division2">
            <h4>Exámenes Complementarios:</h4>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Laboratorio</th>
                            <th>Imagen</th>
                            <th>Patología</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>Laboratorios</td>
                        <td>Imagenes</td>
                        <td>Patologias</td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="division2">
            <h4>Receta Médica:</h4>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Farmaco</th>
                            <th>Concentracion</th>
                            <th>Frecuencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>farmaco</td>
                        <td>concentracion</td>
                        <td>frecuencia</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>