<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="text-name">
            <p>{{tittle}}</p>
        </div>
        <div class="Antecedentes">
            <p> Congenitas</p>
            <p> Enf. Previas</p>
            <p> Traumatismo</p>
            <p> Intervenciones QX</p>
            <p> Alergias</p>
        </div>
    </div>
</body>
</html>