<div class="main-container">
    <div class="main-title">
        <h2>Egreso de Caja</h2>
    </div>
    <div class="encabezado">
        <div class="formulario">
            <div class="campo">
                <div class="title">
                    <label>Nro. Caja:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="nro_caja" name="nro_caja" placeholder="Ingresa el numero de caja" value="Dato existente" readonly>
                </div>
            </div>
            <div class="campo" style="margin-bottom: 0px;">
                <div class="title">
                    <label>Caja:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="caja" name="caja" placeholder="Ingresa la caja" value="Dato existente" readonly>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="content">
        <div class="formulario">
            <div class="campo">
                <div class="title">
                    <label>Fecha:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="date" id="fecha" name="fecha" placeholder="Ingresa la fecha" value="Dato existente" readonly>
                </div>
            </div>

            <div class="campo">
                <div class="title">
                    <label>Numero de Operación:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="nro_operacion" name="nro_operacion" placeholder="Ingresa el numero de operacion" value="Dato existente" readonly>
                </div>
            </div>

            <div class="campo">
                <div class="title">
                    <label>Moneda:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="moneda" name="moneda" placeholder="Ingresa la moenda" value="Dato existente" readonly>
                </div>
            </div>

            <div class="campo">
                <div class="title">
                    <label>Monto Total:</label>
                </div>
                <div class="dato">
                    <input class="form-control" type="text" id="monto_total" name="monto_total" placeholder="Ingresa el monto total">
                </div>
            </div>

            <div class="campo2">
                <div class="title">
                    <label>Motivo del Egreso:</label>
                </div>
                <div class="dato">
                    <textarea id="servicio" name="servicio" placeholder="Ingresa el servicio"></textarea>
                </div>
            </div>
        </div>
        <div class="button-container">
            <td><button type="submit" class="btn btn-danger">Registrar</button></td>
        </div>
    </div>
</div>
