<div class="main-container">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
            <a ngbNavLink>Consultorio</a>
            <ng-template ngbNavContent>
                <consultorio></consultorio>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Servicios</a>
            <ng-template ngbNavContent>
                <servicios></servicios>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Personal</a>
            <ng-template ngbNavContent>
                <personal></personal>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Nuevo Personal</a>
            <ng-template ngbNavContent>
                <nuevo-personal></nuevo-personal>
            </ng-template>
        </li>
    </ul>
    
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>